.message{
    display: flex;
    align-items: center;
    max-width: 400px;
    background-color: #161b22;
    border-radius: 15px;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
}
.userAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    float: right
}
.textBlock{
    margin-left: 10px;
    width: 330px;
}
.myMessage{
    display: flex;
    align-items: center;
    max-width: 400px;
    background-color: #161b22;
    border-radius: 15px;
    padding: 5px;
    margin-bottom: 5px;
    margin-left: 180px;
}