.user{
    display: flex;
    width: 300px;
    min-height: 110px;
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 10px;
    color: white;
    border:rgba(240,246,252,0.1) 1px solid;
    border-radius: 6px;
}
.leftBlock{
    display: flex;
    flex-direction: column;
    width: max-content;
    height: 100%;
    align-items: center;
}
.avatar{
    height: 70px;
    border:rgba(240,246,252,0.1) 1px solid;
    border-radius: 6px;
    cursor: pointer;
}
.followButton{
    text-align: center;
    width: 75px;
    color: #c9d1d9;
    background-color: #21262d;
    padding: 7px 10px;
    font-size: 14px;
    border:rgba(240,246,252,0.1) 1px solid;
    border-radius: 6px;
}

.followButton:hover{
    opacity: 70%;
    border-color: #c9d1d9;
}
.followButton:active{
    opacity: 100;
    border-color: #c9d1d9;
}
.rightBlock{
    width: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.UserName{
    font-size: 20px;
    text-align: center;
    cursor: pointer;
}
.UserStatus{
    text-align: center;
    color: #c9d1d9;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    max-width: 200px;
    line-height: 1.3em;
    max-height: 50px;
}