.userPage{
    padding: 20px 60px;
    box-sizing: border-box;
}
.title{
    font-size: 30px;
    margin-bottom: 20px;
    color: black;
}
.usersContainer{
    margin-left: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.pagination{
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}
.page{
    cursor: pointer;
    margin-left: 8px;
}
.selectedPage{
    font-weight: bold;
    cursor: pointer;
    margin-left: 8px;
    text-decoration: underline;
}