.SuggestionsBlock{
    margin-top: 15px;
}
.title{
    color: #c9d1d9;
    font-weight: bold;
    font-size: 20px;
}
.container{
    width: 100%;
    margin-top: 15px;
    min-height: max-content;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}