.dialogs{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}
.dialogsItems{
    padding: 10px;
    width: 30%;
}
.messages{
    padding: 10px;
    width: 600px;
}
.messagesZone{;
    width: 600px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    border: #30363d 1px solid;
}
.myMessage{
    margin-left: 30px;
}
.messages textarea{
    width: 500px;
    background-color: darkgray;
    height: 30px;
    margin: 7px 0 0 10px;
    border-radius: 5px;
    padding: 5px;
}
.InputZone{
    margin-top: 10px;
    width: 600px;
    min-height: 50px;
    display: flex;
    background-color: #3b3939;
    border-radius: 5px;
    padding-bottom: 10px;
}
.InputZone button{
    width: 60px;
    height: 30px;
    margin: 15px 10px 0 auto;
    border-radius: 5px;
    background-color: darkgray;
}