.request {
    margin: 5px auto;
    width: 230px;
    min-height: 60px;
    display: flex;
    padding: 5px;
    border: 1px solid #30363d;
    border-radius: 6px;
    align-items: center;
    box-sizing: border-box;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.infoBlock{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
}
.NameSurname{
    text-decoration: none;
    color: #58a6ff;
}
.friendsCounter{
    text-decoration: none;
    color: #c9d1d9;
    font-size: 14px;
    font-weight: bold;
}
.AddFriendKey{
    text-decoration: none;
    color: #c9d1d9;
    font-size: 14px;
}