.app-wrapper {
    display: grid;
    margin: auto;
    width: 1200px;
    grid-template-areas:
    "header header"
    "nav content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
}

.app-wrapper-content {
    grid-area: content;
    background-color: cadetblue;
    margin: 10px 0 0 5px;
    border-radius: 5px;
}
body{
    background-color: #0d1117;
    box-sizing: border-box;
}
