.FriendBlock{
    width: 500px;
    height: 100px;
    border-radius: 6px;
    margin-bottom: 10px;
    display: flex;
    border: 1px solid #30363d;
    align-items: center;
    padding: 5px 16px;
}
.avatar{
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.content{
    padding: 5px;
    width: 390px;
}
.NameSurname{
    font-size: 25px;
    font-family: "Apple Symbols", system-ui;
    color: white;
    margin-left: 20px;
}
.links a{
    color: dodgerblue;
    text-decoration: none;
    margin-left: 10px;
}