.NewPost{
    padding: 10px;
    background-color: #3b3939;
    border-radius: 5px;
    margin-top: 50px;
    width: max-content;
}
.Input{
    background-color: darkgray;
    width: 774px;
    border-radius: 5px;
}