.appNav{
    grid-area: nav;
    background-color: cadetblue;
    margin: 10px 5px 0 0;
    padding: 20px 20px 53px 20px;
    border-radius: 5px;
    height: max-content;
}
.item{
    color: #3b3939;
    padding-bottom: 5px;
}
.item a{
    color: #3b3939;
    text-decoration: none;
}
.item a.active{
    color: black;
}
.friendsBlock{
    margin-top: 40px;
}
.friends{
    display: flex;
    margin-top: 5px;
}
.friendsImg{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 5px;
}