.appNav{
    display: flex;
    justify-content: space-between;
    background-color: cadetblue;
    padding: 5px 20px 5px 20px;
    border-radius: 5px;
    height: max-content;
}
.item{
    color: #3b3939;
}
.item a{
    color: #3b3939;
    text-decoration: none;
}
.item a.active{
    color: black;
}

.links{
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
}