.item {
    color: red;
    background-color: #3b3939;
    border-radius: 5px;
    margin-top: 10px;
}
.Message{
    display: flex;
}
.MessageAva{
    margin: 5px;
}
.item img{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.MessageName{
    font-family: "Apple Symbols";
    margin-top: 5px;
    font-size: 25px;
    color: white;
}
.MessageDate{
    color: white;
    font-size: 12px;
    margin-left: 20px;
}
.MessageText{
    color: darkgray;
    margin: 10px;
    font-size: 15px;
}
.LikesCounter{
    display: flex;
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.LikesCount{
    margin-left: 10px;
}
.heart {
    width: 20px;
    height: 20px;
    background-color: red;
    transform: rotate(45deg);
    position: relative;
}
.heart::before, .heart::after {
    content : '';
    display: block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}
.heart::before {
    top: -10px;
    left: 0;
}
.heart::after {
    top: 0;
    left: -10px;
}