.dialogs{
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.dialogsItems{
    padding: 10px;
}
.dialog{
    color: #3b3939;
}
.messages{
    padding: 10px;
}
.message{

}
.active{
    color: black;
}